{% extends baseTemplate %}

{% block form %}
    {% if csvFile.status == 1 %}
        <h1 id="head_h1">Загрузка . . .</h1>
        <div id="uploading">
            <span id="count">0</span> сущностей загружено
        </div>

        <script>
            $(document).ready(function(){
                interval();
            });

            function interval(){
                $.ajax({
                    'url': '{{ ajaxUrl }}',
                    'dataType': 'JSON',
                    'success': function(data){
                        $('#count').html(data.count);
                        console.log(data);
                        switch(data.status){
                            case 2:
                                $('#head_h1').html('Успешно завершено');
                                window.location.reload();
                                break;
                            case 3:
                                $('#head_h1').html('Завершено с ошибкой');
                                $('#uploading').after('<div class="error">Ошибка</div>');
                                break;
                            default:
                                setTimeout(function(){
                                    interval();
                                }, 500);
                        }
                    },
                    'error': function(){

                    }
                });
            }
        </script>
    {% else %}
        {% if csvFile.status == 3 %}
            <h1 id="head_h1">Завершено с ошибкой</h1>
            Ошибка: {{ csvFile.message }}
        {% else %}
            <h1 id="head_h1">Успешно завершено</h1>
        {% endif %}
        <div id="uploading">
            <span id="count">{{ countImport }}</span> сущностей загружено
        </div>
        <h1 id="head_h1">Лог загрузки</h1>
        {{ pagerfanta(paginator) }}
        <table class="table">
            <tr>
                <th>#Строка</th>
                <th>#Статус</th>
                <th>#Сущность</th>
                <th>#Ошибки</th>
            </tr>
            {% for i in paginator %}

                <tr>
                    <td>{{ i.line + 1 }}</td>
                    <td>
                        {% if i.status == 1 %}
                            Новое
                        {% elseif i.status == 2 %}
                            Обновлено
                        {% elseif i.status == 3 %}
                            Ошибка
                        {% endif %}
                    </td>
                    <td>
                        {% if i.foreignId %}
                            <a href="{{ admin.generateUrl('edit', {'id': i.foreignId}) }}">
                                Редактировать
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% set error_message = i.message|json_decode %}
                        {% if error_message|length %}
                            {% for i in error_message %}
                                {{ i }}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}