{% extends baseTemplate %}

{% block form %}
    {% if csvFile.status == 1 %}
        <h1 id="head_h1">{{ 'upload.h1.load'|trans({}, 'main') }}</h1>
        <div id="uploading">
            {{ 'upload.upload_entity'|trans({}, 'main') }}<span id="count">0</span>
        </div>

        <script>
            $(document).ready(function(){
                interval();
            });

            function interval(){
                $.ajax({
                    'url': '{{ ajaxUrl }}',
                    'dataType': 'JSON',
                    'success': function(data){
                        $('#count').html(data.count);
                        switch(data.status){
                            case 2:
                                $('#head_h1').html('{{ 'upload.h1.success'|trans({}, 'main') }}');
                                window.location.reload();
                                break;
                            case 3:
                                $('#head_h1').html('{{ 'upload.h1.error'|trans({}, 'main') }}');
                                $('#uploading').after('<div class="error">{{ 'upload.error'|trans({}, 'main') }} ' + data.error + '</div>');
                                window.location.reload();
                                break;
                            default:
                                setTimeout(function(){
                                    interval();
                                }, 500);
                        }
                    },
                    'error': function(){
                        alert('{{ 'upload.error'|trans({}, 'main') }}');
                    }
                });
            }
        </script>
    {% else %}
        <style>
            .status a.active{
                color:black;
                text-decoration: underline;
            }
        </style>
        {% if csvFile.status == 3 %}
            <h1 id="head_h1">{{ 'upload.h1.error'|trans({}, 'main') }}</h1>
            {{ 'upload.error'|trans({}, 'main') }}: {{ csvFile.message }}
        {% else %}
            <h1 id="head_h1">{{ 'upload.h1.success'|trans({}, 'main') }}</h1>
        {% endif %}
        <div id="uploading">
            {{ 'upload.upload_entity'|trans({}, 'main') }}<span id="count">{{ countImport }}</span>
        </div>
        <h1 id="head_h1">{{ 'upload.log'|trans({}, 'main') }}</h1>

        <div class="status">
            <a {{ app.request.get('type') == 'all' ? 'class="active"' : '' }}
                    href="?page={{ app.request.get('page', 1) }}&type=all">
                Все
            </a> |
            <a {{ app.request.get('type') == 'success' ? 'class="active"' : '' }}
                    href="?page={{ app.request.get('page', 1) }}&type=success">
                Успешно загруженные
            </a> |
            <a {{ app.request.get('type') == 'new' ? 'class="active"' : '' }}
                    href="?page={{ app.request.get('page', 1) }}&type=new">
                Новые
            </a> |
            <a {{ app.request.get('type') == 'update' ? 'class="active"' : '' }}
                    href="?page={{ app.request.get('page', 1) }}&type=update">
                Обновленные
            </a> |
            <a {{ app.request.get('type') == 'error' ? 'class="active"' : '' }}
                    href="?page={{ app.request.get('page', 1) }}&type=error">
                С ошибкой
            </a>
        </div>

        {{ pagerfanta(paginator) }}
        <table class="table">
            <tr>
                <th>{{ 'upload.table.line'|trans({}, 'main') }}</th>
                <th>{{ 'upload.table.status'|trans({}, 'main') }}</th>
                <th>{{ 'upload.table.entity'|trans({}, 'main') }}</th>
                <th>{{ 'upload.table.error'|trans({}, 'main') }}</th>
            </tr>
            {% for i in paginator %}

                <tr>
                    <td>{{ i.line + 1 }}</td>
                    <td>
                        {% if i.status == 1 %}
                            {{ 'upload.table.stat.new'|trans({}, 'main') }}
                        {% elseif i.status == 2 %}
                            {{ 'upload.table.stat.update'|trans({}, 'main') }}
                        {% elseif i.status == 3 %}
                            {{ 'upload.table.stat.error'|trans({}, 'main') }}
                        {% endif %}
                    </td>
                    <td>
                        {% if i.foreignId %}
                            <a href="{{ admin.generateUrl('edit', {'id': i.foreignId}) }}">
                                {{ 'upload.table.edit'|trans({}, 'main') }}
                            </a>
                        {% endif %}
                    </td>
                    <td>
                        {% set error_message = i.message|json_decode %}
                        {% if error_message|length %}
                            {% for i in error_message %}
                                {{ i }}
                            {% endfor %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}