{% extends baseTemplate %}

{% block form %}
    {% if uploadFile.status == 1 %}
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">
                                <h4 id="head_h1" class="box-title">
                                    {{ 'upload.h1.load'|trans({}, 'DoctrsSonataImportBundle') }}
                                </h4>
                            </div>
                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    <div id="uploading">
                                        {{ 'upload.upload_entity'|trans({}, 'DoctrsSonataImportBundle') }} <span id="count">0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            $(document).ready(function(){
                interval();
            });

            function interval(){
                $.ajax({
                    'url': '{{ admin.generateUrl('importStatus', {id: uploadFile.id}) }}',
                    'dataType': 'JSON',
                    'success': function(data){
                        $('#count').html(data.count);
                        switch(data.status){
                            case 2:
                                $('#head_h1').html('{{ 'upload.h1.success'|trans({}, 'DoctrsSonataImportBundle') }}');
                                window.location.reload();
                                break;
                            case 3:
                                $('#head_h1').html('{{ 'upload.h1.error'|trans({}, 'DoctrsSonataImportBundle') }}');
                                $('#uploading').after('<div class="error">{{ 'upload.error'|trans({}, 'DoctrsSonataImportBundle') }} ' + data.error + '</div>');
                                window.location.reload();
                                break;
                            default:
                                setTimeout(function(){
                                    interval();
                                }, 500);
                        }
                    },
                    'error': function(){
                        alert('{{ 'upload.error'|trans({}, 'DoctrsSonataImportBundle') }}');
                    }
                });
            }
        </script>
    {% else %}
        <style>
            .btn-active {
                background-color: #a0a0a0;
            }

            .pagerfanta {
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: center;
            }

            .go-back-list-link {
                margin-top: 15px;
            }

        </style>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="box-header">

                                {% if uploadFile.status == 3 %}
                                    <h4 id="head_h1" class="box-title" style="display: block">
                                        {{ 'upload.h1.error'|trans({}, 'DoctrsSonataImportBundle') }}
                                    </h4>
                                    {{ 'upload.error'|trans({}, 'DoctrsSonataImportBundle') }}: {{ uploadFile.message }}
                                {% else %}
                                    <h4 id="head_h1" class="box-title">
                                        {{ 'upload.h1.success'|trans({}, 'DoctrsSonataImportBundle') }}
                                    </h4>
                                {% endif %}
                                <p class="go-back-list-link">Click <b><a href="{{ admin.generateUrl('list') }}" class="">here</a></b> to go back to the list.</p>
                            </div>

                            <div class="box-body">
                                <div class="sonata-ba-collapsed-fields">
                                    <div id="uploading">
                                        {{ 'upload.upload_entity'|trans({}, 'DoctrsSonataImportBundle') }}<span id="count">{{ countImport }}</span>
                                    </div>
                                    <h4 id="head_h1">{{ 'upload.log'|trans({}, 'DoctrsSonataImportBundle') }}</h4>

                                    <div class="status">
                                        <a class="{{ (app.request.get('type') == 'all' or app.request.get('type') == '')? 'btn-active' : '' }} btn btn-default"
                                                href="?page={{ app.request.get('page', 1) }}&type=all">
                                            {{ 'upload.results.all'|trans({}, 'DoctrsSonataImportBundle') }}
                                        </a> |
                                        <a class="{{ app.request.get('type') == 'success' ? 'btn-active' : '' }} btn btn-default "
                                                href="?page={{ app.request.get('page', 1) }}&type=success">
                                            {{ 'upload.results.sucessful'|trans({}, 'DoctrsSonataImportBundle') }}
                                        </a> |
                                        <a class="{{ app.request.get('type') == 'new' ? 'btn-active' : '' }} btn btn-default "
                                                href="?page={{ app.request.get('page', 1) }}&type=new">
                                            {{ 'upload.results.new'|trans({}, 'DoctrsSonataImportBundle') }}
                                        </a> |
                                        <a class="{{ app.request.get('type') == 'update' ? 'btn-active' : '' }} btn btn-default "
                                                href="?page={{ app.request.get('page', 1) }}&type=update">
                                            {{ 'upload.results.updated'|trans({}, 'DoctrsSonataImportBundle') }}
                                        </a> |
                                        <a class="{{ app.request.get('type') == 'error' ? 'btn-active' : '' }} btn btn-default "
                                                href="?page={{ app.request.get('page', 1) }}&type=error">
                                            {{ 'upload.results.error'|trans({}, 'DoctrsSonataImportBundle') }}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="box box-primary">
                            <div class="pagerfanta">
                                {{ pagerfanta(paginator, 'twitter_bootstrap3') }}
                            </div>
                            <table class="table table-bordered table-striped sonata-ba-list">
                                <thead>
                                <tr>
                                    <th>{{ 'upload.table.line'|trans({}, 'DoctrsSonataImportBundle') }}</th>
                                    <th>{{ 'upload.table.status'|trans({}, 'DoctrsSonataImportBundle') }}</th>
                                    <th>{{ 'upload.table.entity'|trans({}, 'DoctrsSonataImportBundle') }}</th>
                                    <th>{{ 'upload.table.error'|trans({}, 'DoctrsSonataImportBundle') }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for i in paginator %}

                                    <tr>
                                        <td>{{ i.foreignId }}</td>
                                        <td>
                                            {% if i.status == 1 %}
                                                {{ 'upload.table.stat.new'|trans({}, 'DoctrsSonataImportBundle') }}
                                            {% elseif i.status == 2 %}
                                                {{ 'upload.table.stat.update'|trans({}, 'DoctrsSonataImportBundle') }}
                                            {% elseif i.status == 3 %}
                                                {{ 'upload.table.stat.error'|trans({}, 'DoctrsSonataImportBundle') }}
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if i.foreignId %}
                                                <a href="{{ admin.generateUrl('edit', {'id': i.foreignId}) }}">
                                                    {{ 'upload.table.edit'|trans({}, 'DoctrsSonataImportBundle') }}
                                                </a>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% set error_message = i.messageEncode %}
                                            {% if error_message|length %}
                                                {% for i in error_message %}
                                                    {{ i }}
                                                {% endfor %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
